<!DOCTYPE html>
<html>
<head>
    <title>Video Chat</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta name='viewport' content='width=device-width'>
</head>
<body style="text-align:center">
    <h1>Create new room</h1>
    <input id="username" type="text" placeholder="Your name">
    <button onclick="create_room()">Start</button>
    <script>
        window.onload = _=>{
            if (localStorage.getItem("username")){
                document.querySelector("#username").value = localStorage.getItem("username")
            }
        }
        document.querySelector("#username").addEventListener("keypress", function(event) {
            if (event.keyCode === 13) {
                create_room()
            }
        });
        function create_room(){
            let username = document.querySelector("#username").value.trim();
            if (username != ''){
                localStorage.setItem("username", username)
                let url = new URL("/new_room", location.href);
                url.searchParams.append('user', username)
                window.location = url.href
            }
        }
    </script>
</body>
</html>