<!DOCTYPE html>
<html>
<head>
    <title>Video Chat</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta name='viewport' content='width=device-width'>
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    <script type="text/javascript">
        var room_id = '{{ room_id }}';
        var username = '{{ username }}';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js" defer></script>
    <script src="/static/js/room.js"></script>
</head>
<body>
    <div id="main-area"></div>
    
    <div id="controls-area">
        <div id="controls">
            <div class="button off" id="microphoneController"><img src="/static/images/mic_off.svg"></div>
            <div class="button off" id="cameraController"><img src="/static/images/videocam_off.svg"></div>
        </div>
        <div id="right-area">
            <div class="button" onclick="open_(this, '#chat')" id="open_chat_button"><img src="/static/images/chat.svg"></div>
        </div>
    </div>

    <div id="chat" class="close">
        <img onclick="close_(this)" class="close_button" src="/static/images/close.svg">
        <div id="messages"></div>
        <div id="input-area">
            <input type="text">
            <img id="send" class="disabled" onclick="send_message()" src="/static/images/send.svg">
        </div>
    </div>

    <div>
        <video autoplay="true" muted="true" id="videoElement"></video>
        <canvas id="canvasElement"></canvas>
    </div>
</body>
</html>